* {
  padding: 0px;
  position: absolute;
  left: 25%;
  font-size: 25px;
  font-family: 'Source Code Pro', monospace;
}
.danmark {
}
#th {
  margin: 600px 625px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
#th:hover {
}
#kb:hover {
  font-size: 30px;

}
#kb:visited {
  font-size: 500px;
}
#aahus {
  margin: 500px 300px;
}
#fyn {

}
#id {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin: 500px 300px;
}
#pos {
  padding: 300px;
  background-color: orange;
}
.modal {
  position: fixed;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 100px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  padding: 600px 100px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  margin: -450px 100px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  margin: -300px -140px;
  padding: 10px 15px;
}
.dodal-body {
  margin: -300px -140px;
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
